<form class="car-form" method="POST">
    <label for="brand">Car brand:</label>
    <input type="text" id="brand" value="" name="brand">

    <label for="model">Model:</label>
    <input type="text" id="model" value="" name="model">

    <label for="mileage">Mileage:</label>
    <input type="text" id="model" value="" name="mileage">

    <label for="engine">Engine:</label>
    <input type="text" id="engine" value="" name="engine">

    <label for="price">Price:</label>
    <input type="text" id="price" value="" name="price">

    <label for="phoneNum">Phone number:</label>
    <input type="text" id="phoneNum" value="" name="phoneNum">

    <label for="description">Description:</label>
    <textarea id="description" name="description" value="" rows="4"></textarea>

    <label for="image">Image URL:</label>
    <input type="url" id="image" value="" name="image">

    <button type="submit">Save Changes</button>
</form>