<main>
    <div>
    <h1>About Our Car Dealership</h1>
    <p class="content">
        We are passionate about helping you find the perfect vehicle.
        Whether you're looking for a brand new model or a reliable pre-owned car, we offer
        a wide selection and unmatched customer service. With years of experience in the industry,
        we are committed to making your car buying experience smooth and enjoyable.
    </p>
    <p>
        <strong>Contacts: </strong>
    </p>
    <p class="contacts">
        Phone - 089 4237 865
    </p>
    <p class="contacts">
        E-mail - aleks@gmail.com
    </p>
    </div>
</main>